*::before, *::after{
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.myText{
    text-align: center;
    color: white;
    border-radius: 20%;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.link{
    text-align: center;
    font-size: 1.2rem;
}